<template>
  <div class="home-container">
    <div class="home pa-5" :class="{ 'landing-page': !userIsAuthenticated }">

      <template v-if="!userIsAuthenticated">
        <h1 class="display-4 primary--text">Scratch</h1>
        <h2 class="headline secondary--text">A simple note taking app</h2>
        <div class="mt-3">
          <v-btn depressed round large color="info" to="/login">Login</v-btn>
          <v-btn depressed round large color="success" to="/signup">Signup</v-btn>
        </div>
      </template>

      <template v-else>
        <h1 class="display-1 primary--text pb-2">Your Notes</h1>

        <v-list two-line class="pa-0">

          <v-list-tile to="/notes/new" color="primary">
            <v-list-tile-action>
              <v-icon color="primary">fas fa-plus</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Create a new note</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-divider v-if="notesAndDividers.length"></v-divider>

          <template v-for="(note, index) in notesAndDividers">
            <v-divider v-if="note.isDivider" :key="index"></v-divider>

            <v-list-tile v-else :key="index" :to="{ name: 'note-details', params: { id: note.noteId } }">
              <v-list-tile-content>
                <v-list-tile-title>{{ note.content }}</v-list-tile-title>
                <v-list-tile-sub-title>Created: {{ note.createdAt | parseDate }}</v-list-tile-sub-title>
              </v-list-tile-content>
              <v-list-tile-action v-if="note.attachment">
                <v-icon>fas fa-paperclip</v-icon>
              </v-list-tile-action>
            </v-list-tile>
          </template>

        </v-list>
      </template>

    </div>
  </div>
</template>

<script>
import { orderBy } from 'lodash';
import { API } from 'aws-amplify';
import { mapState } from 'vuex';

export default {
  name: 'home',
  data() {
    return {
      notes: [],
    };
  },
  computed: {
    ...mapState(['userIsAuthenticated']),
    notesAndDividers() {
      if (!this.notes.length) return [];

      const sortedNotes = orderBy(this.notes, 'createdAt', 'desc');

      // starting with the first note, insert a divider between each note
      let result = [sortedNotes[0]];
      for (var i=1; i < sortedNotes.length; ++i) {
        result.push({ isDivider: true });
        result.push(sortedNotes[i]);
      }

      return result;
    },
  },
  mounted() {
    if (this.userIsAuthenticated) this.fetchNotes();
  },
  filters: {
    parseDate(date) {
      return new Date(date).toLocaleString();
    },
  },
  methods: {
    async fetchNotes() {
      this.notes = await API.get('notes', '/notes');
    },
  },
}
</script>

<style lang="scss">
.home-container {
  display: flex;
  flex-flow: column;
  align-items: center;

  .home {
    width: 100%;
    max-width: 1200px;

    &.landing-page {
      display: flex;
      flex-flow: column;
      align-items: center;
    }
  }
}
</style>
