<template>
  <div class="login-container">
    <div class="login">
      <h2 class="primary--text pb-3 display-2">Login</h2>
      <v-text-field v-model="email" label="Email" @keyup.enter="login" autofocus></v-text-field>
      <v-text-field v-model="password" type="Password" label="Password" @keyup.enter="login"></v-text-field>
      <v-btn block depressed color="primary" @click="login" :disabled="loginDisabled" :loading="loading">Login</v-btn>
    </div>
  </div>
</template>

<script>
  import { Auth } from 'aws-amplify';
  import { mapMutations } from 'vuex';

  export default {
    props: ['redirect'], // provided by router
    data() {
      return {
        email: '',
        password: '',
        loading: false,
      };
    },
    computed: {
      loginDisabled() {
        return !this.email || !this.password || this.loading;
      },
    },
    methods: {
      ...mapMutations(['LOG_IN']),
      async login() {
        if (this.loginDisabled) return;

        try {
          this.loading = true;
          await Auth.signIn(this.email, this.password);
          this.loading = false;
          this.LOG_IN();
          this.$router.push(this.redirect || '/');
        } catch (e) {
          this.loading = false;
          alert(e.message);
        }
      },
    },
  }
</script>

<style lang="scss">
.login-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  .login {
    width: 100%;
    max-width: 400px;
  }
}
</style>
