<template>
  <div class="new-note-container">
    <div class="new-note pa-5">
      <h1 class="display-1 primary--text">New Note</h1>
      <note v-bind.sync="note" autofocus></note>
      <v-btn outline block color="grey darken-1" to="/" :disabled="loading">
        <v-icon left>fas fa-times</v-icon>
        Cancel
      </v-btn>
      <v-btn block color="primary" @click="create" :disabled="!note.content || loading" :loading="loading">
        <v-icon left>fas fa-plus</v-icon>
        Create Note
      </v-btn>
    </div>
  </div>
</template>

<script>
  import { API, Storage } from 'aws-amplify';
  import Note from '../components/Note';

  export default {
    name: 'new-note',
    components: {
      Note,
    },
    data() {
      return {
        note: {
          content: '',
          file: null,
        },
        loading: false,
      };
    },
    methods: {
      async create() {
        this.loading = true;
        try {
          const attachmentKey = this.note.file ? await this.s3Upload(this.note.file) : null;

          await API.post('notes', '/notes', { body: {
            content: this.note.content,
            attachment: attachmentKey,
          } });

          this.loading = false;
          this.$router.push('/');
        } catch (e) {
          this.loading = false;
          alert(e && e.message);
        }
      },
      async s3Upload(file) {
        const filename = `${Date.now()}-${file.name}`;
        const { key } = await Storage.vault.put(filename, file, {
          contentType: file.type
        });

        return key;
      },
    },
  }
</script>

<style lang="scss">
.new-note-container {
  display: flex;
  flex-flow: column;
  align-items: center;

  .new-note {
    width: 100%;
    max-width: 1200px;
  }

  h1 {
    padding-bottom: 15px;
    border-bottom: 1px solid #424242;
  }
}
</style>
