<template>
  <div class="note-details-container">
    <div class="note-details pa-5">
      <h1 class="display-1 primary--text">Note Details</h1>
      <note :content.sync="note.content" :attachment.sync="note.attachment" :file.sync="note.file"></note>
      <v-btn outline block color="error" @click="deleteNote" :disabled="loading" :loading="loading">
        <v-icon left>fas fa-times</v-icon>
        Delete
      </v-btn>
      <v-btn block color="primary" @click="saveNote" :disabled="!note.content || loading" :loading="loading">
        <v-icon left>fas fa-save</v-icon>
        Save
      </v-btn>
    </div>
  </div>
</template>

<script>
  import { API, Storage } from 'aws-amplify';
  import Note from '../components/Note';

  export default {
    name: 'note-details',
    components: {
      Note,
    },
    data() {
      return {
        note: {
          content: '',
          attachment: '',
          file: null,
        },
        loading: false,
      };
    },
    watch: {
      '$route': {
        async handler(to) {
          this.loading = true;
          try {
            this.note = await API.get('notes', `/notes/${to.params.id}`);
            this.loading = false;
          } catch (e) {
            this.lading = false;
            alert(e.message);
          }
        },
        immediate: true,
      },
    },
    methods: {
      async saveNote() {
        this.loading = true;
        try {
          if (this.note.attachment && this.note.file) await Storage.vault.remove(this.note.attachment);

          const attachmentKey = this.note.file ? await this.s3Upload(this.note.file) : this.note.attachment;

          await API.put('notes', `/notes/${this.note.noteId}`, { body: {
            content: this.note.content,
            attachment: attachmentKey,
          } });

          this.loading = false;
          this.$router.push('/');
        } catch (e) {
          this.loading = false;
          alert(e.message);
        }
      },
      async s3Upload(file) {
        const filename = `${Date.now()}-${file.name}`;
        const { key } = await Storage.vault.put(filename, file, {
          contentType: file.type
        });

        return key;
      },
      async deleteNote() {
        this.loading = true;
        try {
          if (this.note.attachment) await Storage.vault.remove(this.note.attachment);
          await API.del("notes", `/notes/${this.note.noteId}`);
          this.loading = false;
          this.$router.push('/');
        } catch (e) {
          this.loading = false;
          alert(e.message);
        }
      },
    },
  }
</script>

<style lang="scss">
.note-details-container {
  display: flex;
  flex-flow: column;
  align-items: center;

  .note-details {
    width: 100%;
    max-width: 1200px;
  }

  h1 {
    padding-bottom: 15px;
    border-bottom: 1px solid #424242;
  }
}
</style>
