<template>
  <div class="signup-container">
    <div class="signup">
      <template v-if="!confirming">
        <h2 class="primary--text pb-3 display-2">Signup</h2>
        <v-text-field v-model="email" label="Email" @keyup.enter="signup" autofocus></v-text-field>
        <v-text-field v-model="password" type="Password" label="Password" @keyup.enter="signup"></v-text-field>
        <v-text-field v-model="passwordCheck" type="Password" label="Confirm Password" @keyup.enter="signup"></v-text-field>
        <v-btn block depressed color="primary" @click="signup" :disabled="signupDisabled" :loading="loading">signup</v-btn>
      </template>
      <template v-else>
        <h2 class="primary--text pb-3 display-2">Verify</h2>
        <v-text-field v-model="confirmationCode" label="Confirmation Code" @keyup.enter="verify" autofocus></v-text-field>
        <v-btn block depressed color="primary" @click="verify" :disabled="!confirmationCode" :loading="loading">Verify</v-btn>
      </template>
    </div>
  </div>
</template>

<script>
  import { Auth } from 'aws-amplify';
  import { mapMutations } from 'vuex';

  export default {
    props: ['redirect'], // provided by router
    data() {
      return {
        email: '',
        password: '',
        passwordCheck: '',
        confirmationCode: '',
        confirming: false,
        loading: false,
      };
    },
    computed: {
      signupDisabled() {
        return !this.email || !this.password || this.passwordCheck !== this.password || this.loading;
      },
    },
    methods: {
      ...mapMutations(['LOG_IN']),
      async signup() {
        if (this.signupDisabled) return;

        try {
          this.loading = true;
          await Auth.signUp({
            username: this.email,
            password: this.password,
          });
          this.loading = false;
          this.confirming = true;
        } catch (e) {
          // TODO handle UsernameExistsException (in case the user signed up but didn't confirm) and use Auth.resendSignUp
          this.loading = false;
          alert(e.message);
        }
      },
      async verify() {
        if (!this.confirmationCode) return;

        try {
          await Auth.confirmSignUp(this.email, this.confirmationCode);
          await Auth.signIn(this.email, this.password);
          this.LOG_IN();
          this.loading = false;
          this.confirming = false;
          this.$router.push(this.redirect || '/');
        } catch (e) {
          alert(e.message);
          this.loading = false;
        }
      },
    },
    // TODO reroute user if they're already logged in
  }
</script>

<style lang="scss">
.signup-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  .signup {
    width: 100%;
    max-width: 400px;
  }
}
</style>
