<template>
  <div>
    <v-textarea counter auto-grow clearable outline
      :autofocus="autofocus"
      placeholder="Start typing..."
      class="my-3"
      :value="content"
      @input="$emit('update:content', $event)"
    ></v-textarea>
    <h2 class="title my-3">Attachment</h2>
    <a v-if="attachmentUrl" target="_blank" rel="noopener noreferrer" :href="attachmentUrl" class="d-inline-block mb-2">{{ attachmentName }}</a>
    <input v-if="showFileInput" @change="updateFile" type="file" class="d-block mb-3"/>
  </div>
</template>

<script>
  import { Storage } from 'aws-amplify';
  import config from '../config';

  export default {
    name: 'note',
    props: {
      content: String,
      attachment: String,
      file: File,
      autofocus: {
        type: Boolean,
        default: false,
      },
    },
    data() {
      return {
        attachmentName: '',
        attachmentUrl: '',
        showFileInput: true,
      };
    },
    watch: {
      attachment: {
        async handler(key) {
          if (!key) return;
          console.log('getting attachment');
          this.attachmentUrl = await Storage.vault.get(key);
          this.attachmentName = key.replace(/^\w+-/, '');
        },
        immediate: true,
      },
    },
    methods: {
      updateFile(e) {
        if (e.target.files && e.target.files.length) {
          if (e.target.files[0].size > config.MAX_ATTACHMENT_SIZE) {
            this.resetFileInput();
            // TODO alert user that file is too large
          } else {
            this.$emit('update:file', e.target.files[0]);
          }
        }
      },
      resetFileInput() {
        this.showFileInput = false;
        this.$nextTick(() => {
          this.showFileInput = true;
        });
      },
    },
  }
</script>
