<template>
  <v-app>
    <v-toolbar app>
      <v-toolbar-title @click="$router.push('/')" class="toolbar-title">Scratch</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <template v-if="!userIsAuthenticated">
          <v-btn flat depressed to="/signup">Signup</v-btn>
          <v-btn flat depressed to="/login">Login</v-btn>
        </template>
        <v-btn v-else flat depressed @click="logout">Logout</v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <v-content>
      <router-view/>
    </v-content>
    <v-footer app class="pl-3">
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<script>
import { Auth } from 'aws-amplify';
import { mapMutations, mapState } from 'vuex';

export default {
  name: 'App',
  computed: {
    ...mapState(['userIsAuthenticated']),
  },
  methods: {
    ...mapMutations(['LOG_OUT']),
    async logout() {
      await Auth.signOut();
      this.LOG_OUT();
      this.$router.push('/login');
    },
  },
}
</script>

<style>
.toolbar-title {
  cursor: pointer;
}
</style>
